<html>
  <head>
    <title>Error</title>
    <meta charset='utf-8' />

    <link
      rel='shortcut icon'
      type='image/png'
      href='/favicon.png'
    />

    <link rel='stylesheet' href='/test.css' />
  </head>
  <body>
    <div>
      {{message}}
      <p>
        Go to
        <a href='http://localhost:3000/'>mainpage &#11014;</a>
      </p>

    </div>
  </body>
</html>