<html>
  <head>
    <title>Заголовок документу</title>
    <meta charset='utf-8' />

    <link
      rel='shortcut icon'
      type='image/png'
      href='/favicon.png'
    />

    <link rel='stylesheet' href='/style.css' />

  </head>
  <body>
    <div>
      {{name}}
    </div>
  </body>
</html>